@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.layout {
  display: inline-flex;  
  height: 100vh;
  width: 100vw;
  background-color: rgb(25, 90, 100);
}

.top_bar {
  height: 60px; 
  width: 100%;
  background-color: #334259; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  font-weight: bold;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 60px;
  background-image: url("/sidebar_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 350px;
}

  .sidebar_link{
    height: 74px;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding-left: 20px;
  }
    .sidebar_link:hover{
        background-color: rgba(94, 94, 94, 0.573);
        transition: background 0.4s ease;
    }
  
.sidebar_link img{
    display: inline-block;
    height: 30px;
    margin-bottom: 4px;
}
.sidebar_link div{
    font-family: Roboto, Arial;
    font-size: 18px;
    padding-left: 15px;
}





.blue_container {
  background-color: rgb(25, 90, 100); 
  width: 70%; 
  ;
  color: white;
}


