.container {
    position: absolute;
    width: 100rem;
    height: 60rem;
    background-color: rgba(207, 232, 238, 0.1);
    border-radius: 1rem;
    border: 1px solid #5a6162;
    padding: 1rem;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
}
